<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40" [fxFlex.md]="60" [fxFlex.sm]="80" [fxFlex.xs]="90">
        <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="75" [fxFlex.xs]="100" fxLayoutAlign="space-between">
                    <form class="example-form" [formGroup]="loginform" fxFlex="100">
                        <mat-form-field fxLayout="column" appearance="outline">
                            <input matInput placeholder="User Name" formControlName="username" autocomplete="off" required>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" appearance="outline">
                            <input placeholder="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </form>
                </div>
                <div fxFlex="25" [fxFlex.xs]="100" fxLayout='column' fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button [fxFlex.xs]="100" (click)="loginUser()" mat-raised-button color="primary" type="submit">Login</button>
                    <button [fxFlex.xs]="100" mat-raised-button>Clear</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>
<app-footer class="page-footer">

</app-footer>