<h2 mat-dialog-title>Hose Add/Edit</h2>
<div mat-dialog-content style="padding-top: 5px;">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Hose</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Blend  Name</mat-label>
      <select matNativeControl>
        <option value="" selected></option>
        <option value="volvo">Volvo</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Tank</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
        <mat-label>Price Level</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price ID</mat-label>
        <select matNativeControl>
            <option value="" selected></option>
            <option value="volvo">Volvo</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
      </mat-form-field>
  </p>

  <div class="btn_set" mat-dialog-actions>
    <button mat-raised-button class="btn" color="primary" (click)="hoseValuesMethod()">OK</button>
    <button mat-raised-button >Cancel</button>
  </div>
</div>

