<h2 mat-dialog-title>Blend Add/Edit</h2>

<div mat-dialog-content style="padding-top: 5px">
  <p class="remove_bottom">
    <mat-form-field appearance="outline">
      <mat-label>Blend ID</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="blendID"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Allocation Limit</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="allocationLimit" />
    </mat-form-field>
  </p>
  <p class="remove_bottom">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="blendName"/>
    </mat-form-field>
  </p>
  <p class="remove_bottom">
    <mat-form-field appearance="outline">
        <mat-label>Price ID</mat-label>
        <input matInput placeholder="Placeholder" [formControl]="priceID" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" [formControl]="blendPrice"/>
      </mat-form-field>
  </p>
  <div class="btn_set" mat-dialog-actions>
    <button mat-raised-button class="btn" color="primary" (click)="onClickValue()">OK</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </div>
</div>
