.transaction_page{
  margin-bottom: 30px;
    mat-form-field + mat-form-field {
        margin-left: 10px;
        margin-bottom: 10px;
      }
   .search_string{
    width: 100%;
   } 
   .form_btnset{
    padding: 10px;
    .apply_btn{
      margin-right: 10px;
    }
   }
.trans_table{
 margin-right: 15px;
}

.receipt_card{
  .receipt_field{
    width: 100%;
  }
 }
   
}
.example-container{
  margin-bottom: 20px;
}
